/*
#map{
	height: 100%;
	 margin: 0;
    padding: 0;
	position: absolute;
}*/

.textoMpa>h2{
	color: #ffffff;
	text-align:center;
	font-weight: bold;
}

#map {
    margin: 0;
    padding: 0;
	height: 90vh;
}

#map{
	position:relative!important;
    overflow: hidden!important ;
}

.gm-svpc{
	display: none;
}


.placa{
	text-align: center;
}
