<!--link rel="stylesheet" href="../../librerias/bootstrap/css/bootstrap.min.css"-->

<!--link rel="stylesheet" href="../../css/Propietario_Ubicacion/reportes.css"-->



<div class="tutulo p-3">
	<h2>REPORTES POR TAXI</h2>
</div>

<div class="container">

	<form id="taxi1">
		<div class="row encierroR  justify-content-center p-2">

			<!--primer contenido-->
			<div class="col-12  col-sm-7 col-md-8 col-lg-8 p-2">
				<div class="row">
					<div class="col-12 col-sm-6 pb-1">
						<div class="form-group row mb-0">
							<label for="" class="col-12 col-sm-12 col-md-7  col-lg-5 col-form-label  text-center text-md-right  subtitulo">Sitio:</label>
							<div class="col-12 col-sm-12 col-md-5  col-lg-7">
								<select class="form-control form-control-sm" name="" id="">
									<option value="-1">Seleccionar Estado</option>
									<option value="1">Chiapas</option>
									<option value="2">Tabasco</option>
									<option value="3">Monterrey Nvo. Leon</option>
								</select>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 pb-1">
						<div class="form-group row mb-0">
							<label for="" class="col-12 col-sm-12 col-md-7  col-lg-5 col-form-label  text-center text-md-right subtitulo">Taxi:</label>
							<div class="col-12 col-sm-12 col-md-5  col-lg-7">
								<select class="form-control form-control-sm" name="" id="">
									<option value="-1">Seleccioar No. Taxi</option>
									<option value="1">234</option>
									<option value="2">452</option>
									<option value="3">45</option>
								</select>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 pb-1">
						<div class="form-group row mb-0">
							<label for="" class="col-12  col-sm-12   col-md-7	col-lg-5  col-form-label  text-center text-md-right subtitulo">Fecha Inicio:</label>
							<div class="col-12  col-sm-12   col-md-5    col-lg-7">
								<div class="input-group">
									<input type="text" class="form-control form-control-sm" id="date-start" placeholder="Fecha Inicial..">
									<div class="input-group-append">
										<span class="input-group-text p-0" id="basic-addon2"><i class="material-icons">event</i></span>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 pb-1">
						<div class="form-group row mb-0">
							<label for="" class="col-12  col-sm-12   col-md-7   col-lg-5   col-form-label  text-center text-md-right subtitulo">Fecha Fin:</label>
							<div class="col-12  col-sm-12   col-md-5   col-lg-7">
								<div class="input-group">
									<input class="form-control form-control-sm" id="date-end" placeholder="Fecha Final.." />
									<div class="input-group-append">
										<span class="input-group-text p-0" id="basic-addon2"><i class="material-icons">event</i></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--primer contenido-->

			<div class="col-12  col-sm-3   col-md-2  col-lg-2 d-sm-flex align-items-center justify-content-center">
				<div class="row pt-sm-4 pt-md-0 filabotones">
					<div class="p-1 col-12 col-sm-12 d-block m-auto">
						<a ui-sref="" class="btn btn-secondary btn-sm active btn-block m-auto BuscarT" id="" role="button">
							Buscar<i class="fas fa-search float-left Ipropietario"></i>
						</a>
					</div>
					<div class="p-1 col-12 col-sm-12 d-block m-auto">
						<a ui-sref="" class="btn btn-secondary btn-sm active btn-block m-auto LimpiarT" id="" role="button">
							<i class="fas fa-trash  float-left Ipropietario"></i>Limpiar
						</a>
					</div>
				</div>
			</div>

			<div class="col-12  col-sm-2  col-md-2 col-lg-2 d-sm-flex align-items-center justify-content-center">
				<!-- ICONO PDF-secundario-->
				<div class="row justify-content-center align-items-center pt-1 p-md-0 d-block">
					<div class="col-12">
						<button class="btn pdfR d-block m-auto"></button>
					</div>
				</div>
			</div><!-- FIN PDF-->
		</div><!-- FIN PDF-->

	</form>


	<div class="mt-5">
		<div class="row encierroR  justify-content-center p-2" ng-controller="miTablaReportes">
			<div class="table-responsive">
				<table class="table table-sm table-hover table-striped text-center">
					<thead class="thead-dark">
						<tr>
							<th scope="col">No. Viaje</th>
							<th scope="col">No. Taxi</th>
							<th class="text-nowrap">Placa</th>
							<th class="text-nowrap">Chofer</th>
							<th>Fecha</th>
							<th>Salida</th>
							<th>Destino</th>
							<th class="text-nowrap">Hora</th>
							<th>Calificacion</th>
						</tr>
					</thead>
					<tbody class="fondo-tabla">
						<tr ng-repeat="regreporte in data | startFromGrid: currentPage * pageSize | limitTo: pageSize">
							<td>{{regreporte.noviaje}}</td>
							<td>{{regreporte.notaxi}}</td>
							<td class="text-nowrap">{{regreporte.placa}}</td>
							<td>{{regreporte.chofer}}</td>
							<td>{{regreporte.fecha}}</td>
							<td>{{regreporte.salida}}</td>
							<td>{{regreporte.destino}}</td>
							<td class="text-nowrap">{{regreporte.hora}}</td>
							<td>{{regreporte.calificacion}}</td>
						</tr>
					</tbody>
				</table>
			</div>



			<div class="btn-toolbar" role="toolbar" aria-label="groupo de botones con toolbar">
				<div class="btn-group btn-group-sm borderP" role="group"  aria-label="Primer group">
					<button type="button" class="btn btn-secondary pagiB" ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1'>&laquo;</button>
					<button type="button" class="btn btn-secondary pagiB" ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{page.no}}</button>
					<button type="button" class="btn btn-secondary pagiB" ng-disabled='currentPage >= data.length/pageSize - 1' ng-click='currentPage = currentPage + 1'>&raquo;</button>
				</div>
			</div>


		</div>
	</div>
</div>




<script src="../../js/Propietario_Ubicacion/reporte.js"> </script>
