body{
    background-image: url(https://firebasestorage.googleapis.com/v0/b/taksi-d543c.appspot.com/o/fondos_web%2Ftaxi1.png?alt=media&token=e1e40fa9-64e6-4199-b1ff-6dfdb15d9afd),
    url(https://firebasestorage.googleapis.com/v0/b/taksi-d543c.appspot.com/o/fondos_web%2Ftaxi2.png?alt=media&token=fe5167d9-b413-4554-a656-578fafb1de73);
    background-repeat: no-repeat !important;
    background-position: center left,
    center right;
    z-index: auto;
    background-size: 400px 200px !important;
    -webkit-background-size: 400px 200px !important;
    -moz-background-size: 400px 200px !important;
    -o-background-size: cover !important;
}

.btn_registrar {
    background-color: #9e9e9e; 
    border-color: white; 
    border-radius: 10px;
}

.btn_registrar:hover {
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px rgb(52, 55, 56);
  transition: all 0.2s ease;
}

.caja, #input1, #input2 {
    width: 300px !important;
    margin-top: 5px !important;
}


.ckeckbox_1 {
    margin-top: 10px;
    margin-bottom: 10px;
}
 
.botonC {
    margin-top: 5px;
}


@media (max-width: 454px) {
    .caja, #input1, #input2 {
    width: 230px !important;
    margin-top: 5px !important;
}
}

@media (max-width: 370px) {
    .caja, #input1, #input2{
    width: 200px !important;
    margin-top: 5px !important;
    /* Fuente de todos los campos */
    font-size: 14px !important;    
}

#input_append1, #input_append2 {
    height: 38px !important;
}

.tamLetra{
    font-size: 14px !important;  
}
}