body{
    background-color: #9e9e9e;
}
.iconoBoton {
    width: 18px;
    height: 16px;
    padding-bottom: 2px;
}
.bordeRedondo {
    border-radius: 15px;
    background-color: #616161;
}
 .botonAddEd {
    width: 115px !important;
    margin: auto;
}