.cajaPerfil {
    width: 250px !important;
    margin-top: 5px !important;
}
.iconoBoton {
    width: 18px;
    height: 16px;
    padding-bottom: 2px;
}
.botonPerfil {
    width: 101px !important;
    margin: auto;
}
.iconos_admin_p {
	width: 23px;
    height: 14px;
    margin-bottom: 4px;
}

/*css paginacion*/
#pagina{
	background-color: transparent;
	/* padding-top: 30px; */
	font-family: prototype;
	font-size: 20px;
    color: #666060;	
    margin: auto;
}
#paginacion{
	/* padding-top: 35px; */
    text-align: left;
}
.pagination .active a{
    color: rgb(43, 125, 163);
    font-weight: bold;
}

.pagination a{
    color: #3b3535;
    border-color: rgb(193, 201, 201);
    font-weight: bold;
}
.iconoPaginacion {
    width: 18px;
    height: 18px;
}
